<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blogs.mapper.system.WebConfigMapper">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and webConfig.id = #{params.id}
			</if>

			<if test="params.titlte != null and params.titlte != ''">
				and webConfig.titlte = #{params.titlte}
			</if>

			<if test="params.userImg != null and params.userImg != ''">
				and webConfig.user_img = #{params.userImg}
			</if>

			<if test="params.brief != null and params.brief != ''">
				and webConfig.brief = #{params.brief}
			</if>

			<if test="params.userName != null and params.userName != ''">
				and webConfig.user_name = #{params.userName}
			</if>

			<if test="params.wechat != null and params.wechat != ''">
				and webConfig.wechat = #{params.wechat}
			</if>

			<if test="params.github != null and params.github != ''">
				and webConfig.github = #{params.github}
			</if>

			<if test="params.weibo != null and params.weibo != ''">
				and webConfig.weibo = #{params.weibo}
			</if>

			<if test="params.qq != null and params.qq != ''">
				and webConfig.qq = #{params.qq}
			</if>

			<if test="params.indexBack != null and params.indexBack != ''">
				and webConfig.index_back = #{params.indexBack}
			</if>

			<if test="params.archiveBack != null and params.archiveBack != ''">
				and webConfig.archive_back = #{params.archiveBack}
			</if>

			<if test="params.aboutmeBack != null and params.aboutmeBack != ''">
				and webConfig.aboutme_back = #{params.aboutmeBack}
			</if>

			<if test="params.messageboardBack != null and params.messageboardBack != ''">
				and webConfig.messageboard_back = #{params.messageboardBack}
			</if>

		</where>
	</sql>


</mapper>