<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blogs.mapper.article.ArticleOneClassMapper">

    <select id="getArticleOneClassAll" resultType="com.blogs.model.article.ArticleOneClass">

        select
            aoc.*,
            user.name as userName
        from
            article_one_class as  aoc
            left join user on user.id = aoc.user_id

        <if test="id != null and id !=''">
            where
             aoc.user_id = #{id}
        </if>

    </select>

</mapper>